<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBczX9AmsqH3UCwDm5oGniNZqXQWBz6bCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>115020407126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>olderStoneBed.io.walwal</string>
	<key>PROJECT_ID</key>
	<string>walwal-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>walwal-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115020407126:ios:096345dbba94290b0df6f7</string>
</dict>
</plist>